
			<div class="row  margin-bottom-30">
				<div class="col-sm-4 sm-margin-bottom-30">
					<a href="assets/img/main/img2.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 1">
						<span><img class="img-responsive" src="assets/img/main/img2.jpg" alt=""></span>
					</a>
				</div>
				<div class="col-sm-4 sm-margin-bottom-30">
					<a href="assets/img/main/img4.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 2">
						<span><img class="img-responsive" src="assets/img/main/img4.jpg" alt=""></span>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="assets/img/main/img5.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 3">
						<span><img class="img-responsive" src="assets/img/main/img5.jpg" alt=""></span>
					</a>
				</div>
			</div>
