<div class="container-fluid">
	<p>Below is the data from Google Calendar.</p>
	<div class="row">
		<div class="col-sm-4" style="background-color:lavender;">
			<!-- insert details about the Calendar events or other things on this side -->
		</div>
		<div class="col-sm-8" style="background-color:lavenderblush;">
			<!-- insert the fetched details from Google Calendar in a table here -->
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Date</th>
						<th>Event Summary</th>
						<th>Extra</th>
					</tr>
				</thead>
				<tbody>
					{{#each partials.calResponse}}
						<tr>
							<td>{{this.start.dateTime}}</td>
							<td>{{this.summary}}</td>
							<td></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
