{{#extend "layoutPartial"}}
{{#section 'head'}}
{{#content "loggedIn"}}
{{name}}
{{/content}}
<link rel="stylesheet" href="assets/plugins/fancybox/source/jquery.fancybox.css">
{{/section}}
{{#content "mainbody"}}
<div class="container content profile">
	<div class="row">
		{{> profileLeftSidebar}}
		<!-- Profile Content -->
		<div class="col-md-9">
			<div class="profile-body">
				<form role="form" method="POST" class="sky-form" enctype="multipart/form-data">
					<header> Upload your images </header>
					<fieldset>
						<section>
						<label class="label">Choose a venue</label>
						<label class="select">
							<select id="venues" name="venues">
								<option value="Choose a venue"></option>
							</select>
						</label>
						</section>
						<section>
						<div id="fileinput">
							<label for="file" class="input input-file">
								<div class="button btn-file">
									Browse <input type="file" id="photos" name="photos" multiple>
								</div>
							</label>
							<input type="text" class="form-control" readonly>
						</div>
						</section>
					</fieldset>
					<footer>
					<button type="submit" class="btn btn-default pull-right">Submit</button>
					</footer>
				</form>
			</div>
			<hr></hr>
			<div class="text-center margin-bottom-50">
				<h2 class="title-v2 title-center">Uploaded Images</h2>
				<p class="space-lg-hor">High Quality images and videos make a great impression and have been concluded to drive the most traffic to your page </p>
			</div>

			<div class="row  margin-bottom-30">
				<div class="col-sm-4 sm-margin-bottom-30">
					<a href="assets/img/main/img2.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 1">
						<span><img class="img-responsive" src="assets/img/main/img2.jpg" alt=""></span>
					</a>
				</div>
				<div class="col-sm-4 sm-margin-bottom-30">
					<a href="assets/img/main/img4.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 2">
						<span><img class="img-responsive" src="assets/img/main/img4.jpg" alt=""></span>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="assets/img/main/img5.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 3">
						<span><img class="img-responsive" src="assets/img/main/img5.jpg" alt=""></span>
					</a>
				</div>
			</div>

			<div class="row margin-bottom-30">
				<div class="col-sm-4 sm-margin-bottom-30">
					<a href="assets/img/main/img6.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 4">
						<span><img class="img-responsive" src="assets/img/main/img6.jpg" alt=""></span>
					</a>
				</div>
				<div class="col-sm-4 sm-margin-bottom-30">
					<a href="assets/img/main/img7.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 5">
						<span><img class="img-responsive" src="assets/img/main/img7.jpg" alt=""></span>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="assets/img/main/img8.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 6">
						<span><img class="img-responsive" src="assets/img/main/img8.jpg" alt=""></span>
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4 sm-margin-bottom-30">
					<a href="assets/img/main/img9.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 7">
						<span><img class="img-responsive" src="assets/img/main/img9.jpg" alt=""></span>
					</a>
				</div>
				<div class="col-sm-4 sm-margin-bottom-30">
					<a href="assets/img/main/img10.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 8">
						<span><img class="img-responsive" src="assets/img/main/img10.jpg" alt=""></span>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="assets/img/main/img11.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 9">
						<span><img class="img-responsive" src="assets/img/main/img11.jpg" alt=""></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{/content}}
{{#content "scripts" mode="append"}}
<script src="/js/fileUpload.js"></script>
<script type="text/javascript" src="assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="assets/js/plugins/fancy-box.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
			App.init();
			FancyBox.initFancybox();
			});
</script>
<script>
	var dataURL='/fetchVenues';
	$( document ).ready( function(){
	$.ajax({
		dataType: "json",
		url: dataURL,
		success: function(data){
//			alert("venue object:"+JSON.stringify(data));
			$.each(data, function(arrayID, venueObj){
				var divData = '<option value='+'"'+venueObj.venueName+'">'+venueObj.venueName+'</option>';
				$(divData).appendTo("#venues");
			});
		}
	});
});
</script>
{{/content}}
{{/extend}}
