{{#extend "layoutPartial"}}
{{#content "loggedIn"}}
{{#if name}}
	<li><a href="/login">{{name}}</a></li>
{{else}}
	<li><a href="/login">Login</a></li>
{{/if}}
{{/content}}
{{#content "mainbody"}}
    <!--=== Search Block ===-->
    <div class="search-block parallaxBg">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <h1>Discover <span class="color-green">new</span> venues</h1>
                <form action="" class="sky-form page-search-form">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search your city ...">
                    <span class="input-group-btn">
                        <button class="btn-u btn-u-lg" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>

                    <div class="inline-group">
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline" checked><i></i>Recent</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Related</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Popular</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Most Common</label>
                    </div>
                </form>
            </div>
        </div>
    </div><!--/container-->
    <!--=== End Search Block ===-->

    <!--=== Container Part ===-->
    <div class="container content-md">
        <ul class="row block-grid-v2">
            <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                <div class="easy-block-v1">
                    <img class="img-responsive" src="assets/img/main/workTypeMeetings.jpg" alt="">
                    <div class="easy-block-v1-badge rgba-purple"> Work Meetings</div>
                </div>
                <div class="block-grid-v2-info rounded-bottom">
                    <h3><a href="#">Work related meetings</a></h3>
		    <p>You could be a startup or just a group of friends who want to get something done as a team. A place more comfortable than a garage, less noisy than Starbucks and has a reliable wifi. </p>
                    <ul class="list-inline star-vote">
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star-half-o"></i></li>
                    </ul>
                </div>
            </li>
            <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                <div class="easy-block-v1">
                    <img class="img-responsive" src="assets/img/main/dancePractice.jpg" alt="">
                    <div class="easy-block-v1-badge rgba-blue">Dance Studios</div>
                </div>
                <div class="block-grid-v2-info rounded-bottom">
                    <h3><a href="#">Dance Practice</a></h3>
		    <p>Your group does not have to hunt for a practice space every week. Connect with your favorite studios and reserve the space online to be ready for your show.</p>
                    <ul class="list-inline star-vote">
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star-half-o"></i></li>
                        <li><i class="color-green fa fa-star-o"></i></li>
                    </ul>
                </div>
            </li>
            <li class="col-md-4 col-sm-12">
                <div class="easy-block-v1">
                    <img class="img-responsive" src="assets/img/main/birthdayParty.jpg" alt="">
                    <div class="easy-block-v1-badge rgba-red">Birthday Parties</div>
                </div>
                <div class="block-grid-v2-info rounded-bottom">
                    <h3><a href="#">Birthday Parties</a></h3>
		    <p> We realize you are looking for experiences whether you create it yourselves or let the hosts create them for you. Whether it is a party for kids or teenagers, we can help connect with the perfect venue that might offer just the right space. </p>
                    <ul class="list-inline star-vote">
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star-o"></i></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div><!--/container-->
    <!--=== Container Part ===-->
    {{/content}}
    {{/extend}}
