{{#extend "layoutPartial"}}
{{#content "loggedIn"}}
	<li><a href="/login">Login</a></li>
{{/content}}
{{#content "mainbody"}}
    <!--=== Search Block ===-->
    <div class="search-block parallaxBg">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <h1>Discover <span class="color-green">new</span> things</h1>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search words with regular expressions ...">
                    <span class="input-group-btn">
                        <button class="btn-u btn-u-lg" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>

                <form action="" class="sky-form page-search-form">
                    <div class="inline-group">
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline" checked><i></i>Recent</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Related</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Popular</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Most Common</label>
                    </div>
                </form>
            </div>
        </div>
    </div><!--/container-->
    <!--=== End Search Block ===-->

    <!--=== Container Part ===-->
    <div class="container content-md">
        <ul class="row block-grid-v2">
            <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                <div class="easy-block-v1">
                    <img class="img-responsive" src="assets/img/mockup/img1.jpg" alt="">
                    <div class="easy-block-v1-badge rgba-purple">Unify Template</div>
                </div>
                <div class="block-grid-v2-info rounded-bottom">
                    <h3><a href="#">One Page Template</a></h3>
                    <p>Excepturi sint occaecati cupiditate non provident, at vero eos et accusamus et iusto odio..</p>
                    <ul class="list-inline star-vote">
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star-half-o"></i></li>
                    </ul>
                </div>
            </li>
            <li class="col-md-4 col-sm-6 md-margin-bottom-30">
                <div class="easy-block-v1">
                    <img class="img-responsive" src="assets/img/mockup/img2.jpg" alt="">
                    <div class="easy-block-v1-badge rgba-blue">Graphic Design</div>
                </div>
                <div class="block-grid-v2-info rounded-bottom">
                    <h3><a href="#">Mockup Design</a></h3>
                    <p>Excepturi sint occaecati cupiditate non provident, at vero eos et accusamus et iusto odio..</p>
                    <ul class="list-inline star-vote">
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star-half-o"></i></li>
                        <li><i class="color-green fa fa-star-o"></i></li>
                    </ul>
                </div>
            </li>
            <li class="col-md-4 col-sm-12">
                <div class="easy-block-v1">
                    <img class="img-responsive" src="assets/img/mockup/img4.jpg" alt="">
                    <div class="easy-block-v1-badge rgba-red">Web Development</div>
                </div>
                <div class="block-grid-v2-info rounded-bottom">
                    <h3><a href="#">HTML5/CSS3 + PHP</a></h3>
                    <p>Excepturi sint occaecati cupiditate non provident, at vero eos et accusamus et iusto odio..</p>
                    <ul class="list-inline star-vote">
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star-o"></i></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div><!--/container-->
    <!--=== Container Part ===-->
    {{/content}}
    {{/extend}}
